<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teambugallergy.resourceshare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
	<!-- Permission for Bluetooth-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    
    <!-- Permission for Flash and Camera-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- Permission for Wifi-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.teambugallergy.resourceshare.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".activities.SeekerActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity 
            android:name=".activities.ProviderActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity 
            android:name=".activities.ResourceListActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity 
            android:name=".seeker_end_resource_specific_activities.SeekerFlashActivity"
            android:label="@string/app_name">
        </activity>
        <activity 
            android:name=".provider_end_resource_specific_activities.ProviderFlashActivity"
            android:label="@string/app_name">
        </activity>
        
         <activity 
            android:name=".seeker_end_resource_specific_activities.SeekerCameraActivity"
            android:label="@string/app_name">
        </activity>
        <activity 
            android:name=".provider_end_resource_specific_activities.ProviderCameraActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity 
            android:name=".provider_end_resource_specific_activities.ProviderWifiActivity"
            android:label="@string/app_name">
        </activity>
        <activity 
            android:name=".seeker_end_resource_specific_activities.SeekerWifiActivity"
            android:label="@string/app_name">
        </activity>
        
    </application>

</manifest>
